.maindiv{
    height: 100vh;
    width: 100%;
    background: #c3c0c0;
}
.heading{
    text-align: center;
    font-size: 80px;
}
.text{
    color:chocolate;
}
.imagediv{
    text-align: center;
    margin: 15px;
}
.image{
    height: 512px;
    width: 512px;
}
.searchdiv{
}
.inputbox{
    margin-top: 5vh;
    margin-left: 35%;
    width: 400px;
    padding: 8px;
}
.inputbox::placeholder{
    font-weight: 800;
}
